.inline-block {
    width: 100%;
    padding: 0;
    margin: 0; 
    background-color: white;
    display: inline-block;
    vertical-align: top;
}

nav ul {
     display:flex;
    gap: 20 px;
    justify-content: flex-end;
    
}

.navigation{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 15px;
    background-color: #ffffff
    ;

}

li {
    display: inline-block;
    margin-right: 50px;
}

/* .logo {
    text-align: center;
} */

#logo {
    /* height: 200px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}

.heroImg {
    background-image: linear-gradient(#DAE4E0, white);
    width: 100%;
    padding: 25px;
    /* margin: 0; */
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

#tagline {
    font-family: Ruluko;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
}

.resumeButton {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 2px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: flex;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    /* -webkit-user-select: none; */
    touch-action: manipulation;
    vertical-align: middle;
    width: 200px;
    justify-content: center;
    align-items: center;

  }

/* Styling for Home Page Projects */
.projects {
    background-color: white;
}

.homeFlexContainer {
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.homeFlexItem {
    display: flex;
    flex-direction: row;
}

.projectImage {
    width: 600px;
}

.projectDescription {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


p {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    width: 600px;
}

.flexContainer {
    display: flex;
    flex-direction: row;
}

.flexItem {
    flex: 1;
    width: 33.333%;
}

hr {
    opacity: 0.49;
    background: #B4C8C0;
    height: 37px;
    width: 100%;
}

#skillsLogos {
    height: 125px;
}

/* footer */
footer {
    background: rgba(23, 84, 92, 0.60);
    height: 100px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

#footerInfo {
    /* display: inline-block; */
    width: 100%;

   
}

#contactInfo {
    line-height: 10px;
    color: white;
    font-family: Ruluko;
    font-size: 30px;
    font-style: normal;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.mySkills {
  text-align: center; 
}

.flexContainer {
  margin: 0 auto; 
}

#linkedinLogo {
    justify-content: right; 
    height: 50px;
    /* margin-top: 25px; */
}

/* Media Query */
/* Common styles */
.inline-block {
    display: block;
  }
  
  /* Mobile-first styles */
  ul {
    width: 100%;
    text-align: center;
  }
  
  #logo {
    width: 60%; /* Adjust the logo size for mobile */
    margin: 0 auto; /* Center the logo horizontally */
  }
  
  .heroImg {
    /* /* padding: 15px; */
    text-align: center; 
    position: relative;
  }
  
  .content {
    /* width: 80%; */
    /* margin: 0 auto; Center the content horizontally */
  }

  .stackedContent {
    position: absolute; 
    text-align: center; /* Center-align the text and button */
  }
  
  #tagline {
    font-size: 33px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-bottom: 20px;
    ;
  }
  
  .resumeButton {
    width: 150px; /* Make the button full width */
    text-align: center;
    
  }
  
  .projectImage {
    width: 100%;
  }
  
  .projects {
    padding: 15px;
  }
  
  .projectDescription {
    text-align: center;
    padding: 15px;
  }
  
  p {
    width: 87%;
  }
  
  .flexContainer {
    flex-direction: column;
  }
  
  .flexItem {
    width: 100%;
  }
  
  hr {
    height: 20px;
  }
  
  #skillsLogos {
    height: 100px;
  }
  
  footer {
    flex-direction: row;
    align-items: center;
    padding: 20px;
  }
  
  #footerInfo {
    text-align: center;
    width: 100%;
    margin-bottom: 10px; 
  }
  
  #contactInfo {
    font-size: 20px;
  }
  
  #linkedinLogo {
    height: 30px;
    margin-top: 15px;
  }
  
  /* Media query for tablets and larger screens */
  @media (min-width: 600px) {
    .flexContainer {
      flex-direction: row;
    }
  }

    